<h1 style="font-weight: bolder;">Aaron's Work</h1>
<h2>Nihiri Techiees</h2>
<h3>Material UI Tut</h3>

<!-- creates a button with a notification attached at different sizes and positions -->
<button matBadge="1" matBadgeColor="accent" mat-raised-button color="primary">Welcome</button>
<div>
    <br>
    <button matBadge="1" matBadgeColor="warn" matBadgeSize='small' mat-raised-button color="primary">Welcome</button>
</div>
<br>
<div>
    <button matBadge="9" matBadgeColor="warn" matBadgePosition="before" matBadgeHidden='true' matBadgeSize='large' mat-raised-button color="primary">Welcome</button>
</div>
<br>
<mat-icon matBadge="1">home</mat-icon>

