<h1 mat-dialog-title>{{inputdata.title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput>
    </mat-form-field>
    <div>
        <mat-checkbox color="primary">Is Active</mat-checkbox>
    </div>
    
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <!-- <button mat-raised-button (click)="closePopup()" color="accent">Close</button> -->
    <button mat-raised-button [mat-dialog-close]="closemessage" color="warn">Cancel</button>
</div>