

/* expansion panel title on hover */
.expansion-panel-1.mat-expansion-panel .mat-expansion-panel-header{
    background-color: lightblue!important;
    height: 50px;

}

/* expansion panel title on hover */
.expansion-panel-1.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    font-weight: bolder!important;
    background-color: #E6FFFF!important;
}

/* when expanded do not have any extra spacing */
.expansion-panel-1.mat-expansion-panel.mat-expanded {
    margin: 0px;
}

/* expansion panel font manipulation */
.expansion-panel-1 .mat-expansion-panel-header-title{
    color: red;
}

/* expansion panel title text */
.expansion-panel-1 .mat-expansion-panel-header-title {
    color: red;
}

/* expansion panel description style */
.expansion-panel-1 .mat-expansion-panel-header-description {
    color: blue!important;
}

/* youtube channel https://www.youtube.com/watch?v=jyOP7ksQNNU */

/* change padding in expansion toggle body  */
::ng-deep .expansion-panel-1 .mat-expansion-panel-body{
    padding:0;
}