<!-- current location is at 20 minutes on the Material UI form Design with Reactive forms by Nihira Techiees -->
<form [formGroup]="customerform" (ngSubmit)="SaveCustomer()">
    <mat-card>
        <mat-card-content>

            <mat-form-field class="mat-50">
                <mat-label>Name</mat-label>
                <!-- formControlName makes it a required input -->
                <input formControlName="name" matInput>
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>email</mat-label>
                <input matInput placeholder="email">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>phone</mat-label>
                <input matInput placeholder="phone">
            </mat-form-field>

            <mat-form-field class="mat-50">
                <mat-label>country</mat-label>
                <!-- <input matInput placeholder="country">   -->
                <mat-select>
                    <mat-option [value]='country' *ngFor="let country of countryList">{{country}}</mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field>
                <mat-label>address</mat-label>
                <input matInput placeholder="address">
            </mat-form-field>

            <mat-form-field>
                <mat-label>term</mat-label>
                <input [matAutocomplete]="auto" matInput placeholder="term">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let item of termlist" [value]="item">{{item}}</mat-option>

                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>date of birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="date of birth">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-hint>dd/mm/yyyy</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
                <mat-radio-group>
                    <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
                <mat-checkbox color="warn">Is Active</mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div style="margin:1%; text-align: right;">
                <button mat-raised-button color="primary" type="submit">Save</button>
                <button mat-raised-button color="warn">Clear</button>
            </div>
        </mat-card-footer>

    </mat-card>
</form>